html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

}


/* GALLERY LIST */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;

  padding: 0;
  margin: 0;
  list-style: none;
}

.gallery img {
  max-width: 100%;
  display: block;
  /* height: auto; */
}

.stats {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
